#table {
    width: 800px;
    height: 500px;
    border: 4px solid rgb(15, 61, 15);
    background: green;
}
.stone {
    width: 40px;
    height: 80px;
    border: 2px solid rgb(143, 143, 127);
    background: rgb(240, 238, 223);
    position: absolute
}

.stone.horizontal {
    width: 80px;
    height: 40px;
}
.stone:hover {
    cursor: pointer;
}

.stone.dragging {
    border: 2px solid red;
    cursor: move;
}

.faces {
    width: 40px;
    height: 80px;
}

.vertical .face {
    width: 40px;
    height: 39px;
}

.horizontal .face {
    width: 39px;
    height: 40px;
}
.vertical .face.up {
    border-bottom: 1px solid rgb(49, 49, 46);
}

.vertical .face.down {
    border-top: 1px solid rgb(49, 49, 46);
}

.horizontal .face.up {
    float: left;
    border-right: 1px solid rgb(49, 49, 46);
}

.horizontal .face.down {
    float: right;
    border-left: 1px solid rgb(49, 49, 46);
}

.dot {
    width: 6px;
    height: 6px;
    position: absolute;
    background: black;
}
.vertical .up .dot00 {
    top: 6px;
    left: 6px;
}
.vertical .up .dot01 {
    top: 6px;
    left: 17px;
}
.vertical .up .dot02 {
    top: 6px;
    left: 28px;
}

.vertical .up .dot10 {
    top: 17px;
    left: 6px;
}
.vertical .up .dot11 {
    top: 17px;
    left: 17px;
}
.vertical .up .dot12 {
    top: 17px;
    left: 28px;
}
.vertical .up .dot20 {
    top: 28px;
    left: 6px;
}
.vertical .up .dot21 {
    top: 28px;
    left: 17px;
}
.vertical .up .dot22 {
    top: 28px;
    left: 28px;
}
.vertical .down .dot00 {
    top: 46px;
    left: 6px;
}
.vertical .down .dot01 {
    top: 46px;
    left: 17px;
}
.vertical .down .dot02 {
    top: 46px;
    left: 28px;
}

.vertical .down .dot10 {
    top: 57px;
    left: 6px;
}
.vertical .down .dot11 {
    top: 57px;
    left: 17px;
}
.vertical .down .dot12 {
    top: 57px;
    left: 28px;
}
.vertical .down .dot20 {
    top: 68px;
    left: 6px;
}
.vertical .down .dot21 {
    top: 68px;
    left: 17px;
}
.vertical .down .dot22 {
    top: 68px;
    left: 28px;
}
.horizontal .up .dot00 {
    top: 28px;
    left: 6px;
}
.horizontal .up .dot01 {
    top: 17px;
    left: 6px;
}
.horizontal .up .dot02 {
    top: 6px;
    left: 6px;
}

.horizontal .up .dot10 {
    top: 28px;
    left: 17px;
}
.horizontal .up .dot11 {
    top: 17px;
    left: 17px;
}
.horizontal .up .dot12 {
    top: 6px;
    left: 17px;
}
.horizontal .up .dot20 {
    top: 28px;
    left: 28px;
}
.horizontal .up .dot21 {
    top: 17px;
    left: 28px;
}
.horizontal .up .dot22 {
    top: 6px;
    left: 28px;
}
.horizontal .down .dot00 {
    top: 28px;
    left: 46px;
}
.horizontal .down .dot01 {
    top: 17px;
    left: 46px;
}
.horizontal .down .dot02 {
    top: 6px;
    left: 46px;
}

.horizontal .down .dot10 {
    top: 28px;
    left: 57px;
}
.horizontal .down .dot11 {
    top: 17px;
    left: 57px;
}
.horizontal .down .dot12 {
    top: 6px;
    left: 57px;
}
.horizontal .down .dot20 {
    top: 28px;
    left: 68px;
}
.horizontal .down .dot21 {
    top: 17px;
    left: 68px;
}
.horizontal .down .dot22 {
    top: 6px;
    left: 68px;
}
